.App {
  text-align: center;
  
}


.App-header {
  background-color: #FFE4C4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFA07A;
  letter-spacing: 2px;
  font-size: 35px;
}

button {
  background-color: 	#FFA07A;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 2px solid #FFA07A;
  cursor: pointer;
  width: 300px;
  height: 35px;
}

input {
  background-color: #FFDAB9;
  border: 2px solid #FFA07A;
  border-radius: 5px;
  color: #FFA07A;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  width: 400px;
  height: 35px;
  font-size: 15px;
  margin-top: 20px;
}

img {
  width: 100%;
  height: auto;
  border-bottom: 10px solid #FFDAB9;
}

h1 {
  color: #FFA07A;
  letter-spacing: 3px;
  font-size: 65px;

}